@model IEnumerable<EBookShop.Models.Cart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Ảnh SP</th>
            <th>Tên SP</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/images/product/@item.Product.Image" width="70px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @item.Product.Price.ToString("#,##0")
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return confirm('Bạn có chắc chắn muốn xóa?');">
                        <a class="fa fa-trash btn btn-danger"></a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Tổng tiền:</td>
            <td>@Model.Sum(c => c.Product.Price * c.Quantity).ToString("#,##0")</td>
            <td>
                <a asp-action="Purchase" class="btn btn-success">Thanh toán</a>
                <form asp-action="DeleteAll" onsubmit="return confirm('Bạn có chắc chắn muốn xóa ?');" class="d-inline">
                    <button class="btn btn-danger">Xóa hết</button>
                </form>
            </td>
        </tr>
    </tfoot>
</table>
